{{yield}}
<div class="card {{if pallet.selected "card-4"}}">
  <div class="card-block">
    <h6 class="card-subtitle text-muted clearfix">
      {{#link-to 'pallet.edit' pallet}}{{pallet.palletType.readAs}} - {{pallet.id}}{{/link-to}}
      <div class="pull-sm-right">
        <button type="button" name="selectPallet" class="btn btn-outline-primary btn-sm" {{action "selectPallet" pallet}}><i class="fa fa-crosshairs"></i></button>
        <button type="button" name="deletePallet" class="btn btn-outline-warning btn-sm" {{action "destroyPallet" pallet}}><i class="fa fa-trash"></i></button>
        {{#if isMixed}}
          <button type="button" name="unlinkPallet" class="btn btn-outline-warning btn-sm" {{action "unlinkPallet" pallet}}><i class="fa fa-chain-broken"></i></button>
        {{/if}}
      </div>
    </h6>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Position</th>
        <th>Lager</th>
        <th>Artikel</th>
        <th>Gebiet</th>
        <th>Versand</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each pallet.lineItems as |lineItem|}}
        <tr>
          <td scope="row">{{#link-to "variant.edit" lineItem.variant}}{{lineItem.variant.purchasePosition.baanId}}{{/link-to}}</td>
          <td>
            {{lineItem.variant.purchasePosition.storageLocation}}
          </td>
          <td>
            {{lineItem.variant.purchasePosition.articleNumber}} {{lineItem.variant.purchasePosition.article}}
          </td>
          <td>
            {{lineItem.variant.purchasePosition.zipLocation.title}}
          </td>
          <td>
            {{moment-format lineItem.variant.purchasePosition.deliveryDate "DD-MM-YYYY" allow-empty=true}}
          </td>
          <td>
            {{lineItem.quantity}}
          </td>
          <td>
            {{pallet-assignment-actions lineItem=lineItem purchasePosition=lineItem.variant.purchasePosition increaseItem="increase" decreaseItem="decrease"}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
