<div class="row">
  <div class="col-md-9 offset-md-2">
    <div class="block-header p-t-2">
      <h3>Versand {{model.id}}</h3>
      <small>Spediteur: {{model.shipper.name}}</small>
    </div>
    <div class="card">
      <div class="meta-block">
        <div class="meta-header">
          <h2><i class="fa fa-inbox m-r-5"></i> Basic Information</h2>
        </div>
        <div class="meta-body p-l-2">
          <div class="meta-view">
            <dl class="dl-horizontal row">
              <dt class="col-md-2">Spediteur</dt>
              <dd class="col-md-3">{{model.shipper.name}}</dd>
            </dl>
            <dl class="dl-horizontal row">
              <dt class="col-md-2">Empfänger</dt>
              <dd class="col-md-3">{{model.referee}}</dd>
            </dl>
            <dl class="dl-horizontal row">
              <dt class="col-md-2">Land</dt>
              <dd class="col-md-3">{{model.country}}</dd>
            </dl>
            <dl class="dl-horizontal row">
              <dt class="col-md-2">Lieferung</dt>
              <dd class="col-md-3">{{moment-format model.pickUpTimeEarliest "DD-MM-YYYY" allow-empty=true}}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-9 offset-md-2">
    <div class="row">
      {{outlet}}
    </div>
    <div class="card">
      <div class="card-block">
        <h6 class="card-subtitle text-muted clearfix">
          Angefügte Paletten / Coli
          <div class="pull-sm-right">
            <button type="button" name="externalPallet" class="btn btn-outline-warning btn-sm" {{action "showModal" "bootstrap-modal" pallet}}>
              <i class="fa fa-external-link"></i>
            </button>
            <button type="button" name="buildPallet" class="btn btn-outline-warning btn-sm" {{action "buildPallet" pallet}}>
              <i class="fa fa-file-o"></i>
            </button>
          </div>
        </h6>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Nr</th>
            <th>Positionen</th>
            <th>Mehrplatz</th>
            <th>Tour</th>
            <th>Gebiet</th>
            <th>Empfänger</th>
            <th style="width: 160px;"></th>
          </tr>
        </thead>
        <tbody>
          {{#each model.pallets as |pallet|}}
            <tr>
              <td scope="row">{{pallet.palletType.readAs}} {{pallet.id}}</td>
              <td>{{pallet.lineItemsQuantity}}</td>
              <td>{{pallet.additionalSpace}}</td>
              <td>{{pallet.shippingRoute.name}}</td>
              <td>{{pallet.zipLocation.title}}</td>
              <td>{{pallet.shippingAddress.consigneeFull}}</td>
              <td class="text-xs-center">
                <div class="input-group">
                  <button class="btn btn-outline-primary btn-block" type="button" {{action 'remove' pallet}}><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div class="card">
      <div class="card-block">
        <h6 class="card-subtitle text-muted clearfix">
          Verfügbare Paletten / Coli
          <div class="pull-sm-right">
            <button type="button" name="externalPallet" class="btn btn-outline-warning btn-sm" {{action "showModal" "bootstrap-modal" pallet}}>
              <i class="fa fa-external-link"></i>
            </button>
            <button type="button" name="buildPallet" class="btn btn-outline-warning btn-sm" {{action "buildPallet" pallet}}>
              <i class="fa fa-file-o"></i>
            </button>
          </div>
        </h6>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Nr</th>
            <th>Positionen</th>
            <th>Mehrplatz</th>
            <th>Tour</th>
            <th>Gebiet</th>
            <th>Empfänger</th>
            <th style="width: 160px;"></th>
          </tr>
        </thead>
        <tbody>
          {{#each remainingPallets as |pallet|}}
            <tr>
              <td scope="row">{{pallet.palletType.readAs}} {{pallet.id}}</td>
              <td>{{pallet.lineItemsQuantity}}</td>
              <td>{{pallet.additionalSpace}}</td>
              <td>{{pallet.shippingRoute.name}}</td>
              <td>{{pallet.zipLocation.title}}</td>
              <td>{{pallet.shippingAddress.consigneeFull}}</td>
              <td class="text-xs-center">
                <div class="input-group">
                  <button class="btn btn-outline-primary btn-block" type="button" {{action 'assign' pallet}}><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </div>
</div>
