<div class="row">
  <div class="col-md-12">
    <div class="col-md-12">
      <div class="block-header p-t-2">
        <h3>Pallets</h3>
      </div>
    </div>
    <div class="col-md-4">
      {{outlet}}
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <form>
            <div class="form-group">
              <label>Palette</label>
              {{input value=palletId key-down="searchWithPalletId" class="form-control"}}
            </div>
            <div class="form-group">
              <label>Versendet?</label>
              <select onchange={{action "filterPalletDelivered" value="target.value"}} class="form-control">
                {{#each filterOptions as |filterOption|}}
                  <option value={{filterOption}} selected={{eq filterOption delivered}}>{{filterOption}}</option>
                {{/each}}
              </select>
            </div>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
            <button type="submit" class="btn btn-outline-secondary" {{action 'resetSearch'}}>Reset</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      {{#each model as |pallet|}}
      <div class="card">
        <div class="card-block">
          {{#link-to 'pallet.edit' pallet}}{{pallet.palletType.readAs}} - {{pallet.id}}{{/link-to}}
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Position</th>
              <th>Lager</th>
              <th>Artikel</th>
              <th>Gebiet</th>
              <th>Versand</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {{#each pallet.lineItems as |lineItem|}}
              <tr>
                <td scope="row">{{#link-to "variant.edit" lineItem.variant}}{{lineItem.variant.purchasePosition.baanId}}{{/link-to}}</td>
                <td>
                  {{lineItem.variant.purchasePosition.storageLocation}}
                </td>
                <td>
                  {{lineItem.variant.purchasePosition.articleNumber}} {{lineItem.variant.purchasePosition.article}}
                </td>
                <td>
                  {{lineItem.variant.purchasePosition.zipLocation.title}}
                </td>
                <td>
                  {{moment-format lineItem.variant.purchasePosition.deliveryDate "DD-MM-YYYY" allow-empty=true}}
                </td>
                <td>
                  {{lineItem.quantity}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      {{/each}}
    </div>
  </div>
</div>
