{{outlet}}
<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">VK-Auftrag <small class="text-muted">{{model.baanId}}</small></h4>
        <p class="card-text"><small class="text-muted">Empfänger:<br>{{model.shippingAddress.consigneeFull}}</small></p>
      </div>
      <img alt="Chart?cht=qr&amp;chs=154x154&amp;chl={{model.baanId}}" class="img-fluid" src="https://chart.googleapis.com/chart?cht=qr&amp;chs=130x130&amp;chl={{model.baanId}}">
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-block">
        <h6 class="card-subtitle text-muted clearfix">
          Verfügbare Positionen
          <div class="pull-sm-right">
            <button type="button" name="externalPallet" class="btn btn-outline-warning btn-sm" {{action "showModal" "bootstrap-modal" pallet}}>
              <i class="fa fa-external-link"></i>
            </button>
            <button type="button" name="buildPallet" class="btn btn-outline-warning btn-sm" {{action "buildPallet" pallet}}>
              <i class="fa fa-file-o"></i>
            </button>
          </div>
        </h6>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Position</th>
            <th>Lager</th>
            <th>Artikel</th>
            <th>Gebiet</th>
            <th>Versand</th>
            <th>Total</th>
            <th style="width: 160px;"></th>
          </tr>
        </thead>
        <tbody>
          {{#each availableItems as |purchasePosition|}}
            <tr>
              <td scope="row">{{purchasePosition.baanId}}</td>
              <td>
                {{purchasePosition.storageLocation}}
              </td>
              <td>
                {{purchasePosition.articleNumber}} {{purchasePosition.article}}
              </td>
              <td>
                {{purchasePosition.zipLocation.title}}
              </td>
              <td>
                {{moment-format purchasePosition.deliveryDate "DD-MM-YYYY" allow-empty=true}}
              </td>
              <td>
                {{purchasePosition.availableQuantity}}
              </td>
              <td>
                {{position-quantity-input purchasePosition=purchasePosition action="considerItem"}}
              </td>
            </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
            </td>
            <td>
              <div class="input-group">
                <button class="btn btn-outline-primary btn-block" type="button" {{action 'assignItems'}} disabled={{hasLineItems}}><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    {{#each sortedPallets as |pallet|}}
      {{pallet-items pallet=pallet action="selectPallet"}}
    {{/each}}

  </div>
</div>

{{#bootstrap-modal enabled=showModal title="Externe Palette" primaryAction="fetchPallet" secondaryAction="discardFetchPallet"}}
<form>
  <div class="form-group">
    {{input type="number" value=externalPalletId classNames="form-control"}}
  </div>
</form>
{{/bootstrap-modal}}
