<div class="row">
  <div class="col-md-12">
    <div class="col-md-12">
      <h3 class="clearfix">
        Purchase Orders
        <hr>
      </h3>
    </div>
    <div class="col-md-4">
      {{outlet}}
    </div>
    <div class="col-md-12">
      <div class="card">
        <table class="table">
          <thead>
            <tr>
              <th>VK</th>
              <th>
                Paletten
              </th>
              <th>
                Handelspartner
              </th>
              <th>Tour</th>
              <th>
                Gebiet
              </th>
              <th>
                Versand
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each model as |purchaseOrder|}}
              <tr>
                <td scope="row">{{#link-to "purchase-order" purchaseOrder}}{{purchaseOrder.baanId}}{{/link-to}}</td>
                <td>
                  {{purchaseOrder.calculation.totalPallets}}
                </td>
                <td>
                  {{purchaseOrder.shippingAddress.consigneeFull}}
                </td>
                <td>{{purchaseOrder.shippingRoute.name}}</td>
                <td>
                  {{purchaseOrder.purchasePositions.firstObject.zipLocation.title}}
                </td>
                <td>
                  {{moment-format purchaseOrder.deliveryDate "DD-MM-YYYY" allow-empty=true}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
