<div class="row">
  <div class="col-md-12">
    <div class="col-md-12">
      <div class="block-header p-t-2">
        <h3>Purchase Positions</h3>
      </div>
    </div>
    <div class="col-md-4">
      {{outlet}}
    </div>
    <div class="col-md-12">
      <div class="card">
        <table class="table">
          <thead>
            <tr>
              <th>VK</th>
              <th>Versand</th>
              <th>Tour</th>
              <th>Verfügbar</th>
              <th>Artikel</th>
              <th>Bezeichnung</th>
              <th>Artikelgruppe</th>
              <th>Lager</th>
            </tr>
          </thead>
          <tbody>
            {{#each model as |purchasePosition|}}
              <tr>
                <td scope="row">{{#link-to "purchase-position.edit" purchasePosition}}{{purchasePosition.baanId}}{{/link-to}}</td>
                <td>
                  {{moment-format purchasePosition.deliveryDate "DD-MM-YYYY" allow-empty=true}}
                </td>
                <td>{{purchasePosition.shippingRoute.name}}</td>
                <td>{{purchasePosition.availableQuantity}}</td>
                <td>{{purchasePosition.articleNumber}}</td>
                <td>{{purchasePosition.article}}</td>
                <td>{{purchasePosition.commodityCode.title}}</td>
                <td>{{purchasePosition.storageLocation}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
